@media (max-width: 800px) {
    .nav .logo h1 {
        font-size: 2.1rem;
    }

    .nav .links ul li a {
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none;
        color: #FEE715;
    }

    .nav .links ul li {
        margin-left: 15px;
    }
}

@media (max-width: 731px) {

    .main .box-center h1 {
        font-size: 2.8rem;
    }

    .main .box-center h2 {
        font-size: 1.87rem;
    }

    .nav .logo h1 {
        font-size: 2.3rem;
    }

    .links {
        display: none;
        margin: 0;
        width: 100%;
    }

    .menu {
        /* padding: 10px; */
        display: block !important;
    }

    .menu a {
        color: #FEE715;

    }

    .about-section .details h1 {
        font-size: 2.7rem;
        /* line-height: 100%; */
    }

    .about-section .details h4 {
        font-size: 1rem;
    }

    @media (max-width: 768px) {

        .footer-container {
            flex-direction: column;
            text-align: center;

            .footer-box {
                margin-bottom: 25px;
            }

            .social-links a {
                margin: 0 10px;
            }
        }

        .contact-wrapper {
            flex-direction: column;
            align-items: center;
        }

        .info-box,
        .message-box {
            width: 90%;
        }

        .contact-section h1 {
            font-size: 2.5rem;
        }

        .section p {
            font-size: 1.6rem;
        }

        .s-para,
        .t-para,
        .fo-para {
            display: none;
        }

        .f-para {
            font-size: 2.2rem !important;
            margin-top: 10px;
        }

        .fi-para {
            font-size: 1.9rem;
            margin-top: 10px;
        }

        .dice-menu,
        .f-para {
            display: block;
        }

    }

}

@media (max-width: 500px) {
    .logo a{
        font-size: 2.5rem !important;
    }
    .nav{
        padding: 0;
        justify-content: space-around ;
        padding: 5px;
    }

    .contact-section h1 {
        font-size: 37px !important;
    }

    .contact-section h2 {
        font-size: 1.05rem !important;
    }

    .info-box {
        width: 350px !important;
    }

    .message-box {
        width: 350px !important;
    }
}