body {
    font-family: 'Poppins', sans-serif;
    background-color: #0b1230;
    color: white;
    margin: 0;
    padding: 0;
}

.contact-section {
    padding: 80px 0;
    text-align: center;
}
.contact-section h1{
    color: #ffeb3b;
    font-size: 3.5rem;
}
.contact-heading {
    color: #f5f5f5;
    font-size: 24px;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

/* Info Box */
.info-box {
    background-color: #0e1b40;
    padding: 30px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
    color: #ffeb3b;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.info-list,
.time-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.info-list li,
.time-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    margin-bottom: 8px;
}


.info-list i {
    margin-right: 10px;
    color: #ffeb3b;
}

.time-list span {
    float: right;
    color: #f5f5f5;
}

/* Message Box */
.message-box {
    background-color: #0e1b40;
    padding: 30px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    color: #ffeb3b;
}

.form-input,
.form-textarea {
    width: 100%;
    background-color: #16204a;
    border: none;
    outline: none;
    color: white;
    padding: 12px 15px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 14px;
}

.send-btn {
    background-color: #ffeb3b;
    color: #0b1230;
    border: none;
    padding: 14px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s;
}

.send-btn:hover {
    background-color: #ffd600;
}

/* Responsive */
