*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #1b1b2f, #16213e);
}
.about-section {
    color: white;
    padding: 2rem;
    width: 90vw;
    height: auto;
    margin: auto;
}
.intro{
    margin-top: 30px !important;
}
.details{
    margin-top: 40px;
    /* font-weight: 600; */
}
.details h1{
    font-size: 3.3rem;
    color: yellow;
    font-weight: 530;
}
.details h4{
    font-size: 1.25rem;
    font-weight: 400;
}